body {
  background-image: url("sky1.jpg");
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.application {
  margin: 60px auto;
  max-width: 750px;
}
.container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
  padding: 40px;
  padding-bottom: 25px;
}
header {
  border-bottom: 1px solid #f3f1f8;
  padding-bottom: 30px;
}
.search-field {
  background: #e8eff2;
  border: none;
  border-radius: 7px;
  color: #37214366;
  font-size: 16px;
  height: 50px;
  padding: 15px 20px;
  width: 80%;
}
.search-btn {
  background: #8dabbd;
  border: none;
  font-size: 16px;
  height: 50px;
  padding: 15px 30px;
  margin-left: 5px;
  border-radius: 7px;
  box-sizing: border-box;
  color: #000000;
}
main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: #47414d;
}
.current-details {
  color: rgb(52 42 72 / 40%);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #bf3ec8;
}
.current-temperature {
  display: flex;
}
.current-temperature-icon {
  width: 100px;
  height: 100px;
  margin-top: -5px;
}

.current-temperature-value {
  font-size: 86px;
  font-weight: bold;
  color: #47414d;
  line-height: 88px;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 6px;
}
a {
  color: #bf3ec8;
}
footer {
  border-top: 1px solid #f3f1f8;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: rgb(0 0 0 / 50%);
}
